.location {
  background: url(../images/section-location.png) no-repeat center/cover,
    linear-gradient(to bottom,
      map-get($colors, white),
      map-get($colors, lavender-blush) 25%);

  @media (device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background: url(../images/section-location@2x.png) no-repeat center/cover,
      linear-gradient(to bottom,
        map-get($colors, white),
        map-get($colors, lavender-blush) 25%);
  }

  @media (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 120px;
  }

  @media (min-width: 768px) {
    padding-bottom: 160px;
  }
}

.location__list {
  margin-bottom: 55px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: 1280px) {
    display: flex;
    justify-content: center;
  }

}

.location__item {
  background-color: map-get($colors, white);
  border-radius: 25px;
  box-shadow: 0px 10px 40px 0px rgba(212, 20, 66, 0.15);
  width: 253px;
  padding: 51px 37px 45px;
  margin: 0 auto 22px;

  @media (min-width: 768px) {
    padding: 46px 30px 50px;
    width: 222px;
    margin: 0 0 24px;
  }

  @media (min-width: 1280px) {
    padding: 50px 58px;
    width: 336px;
    margin: 0 20px 30px 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.location__title {
  width: fit-content;
  margin-bottom: 27px;
  padding: 0 13px;
  @extend %uppercase;
  border-radius: 5px;
  @include font($weight: 500, $line-height: 18);

  @media (min-width: 768px) {
    @include font($weight: 500, $size: 17);
  }

  @media (min-width: 1280px) {
    margin-bottom: 35px;
  }
}

.location__title--cafe {
  background-color: map-get($colors, peach-orange);
}

.location__title--foodtruck {
  background-color: map-get($colors, grin-mist);
}

.location__text {
  padding: 12px 0 32px;
  @include font($weight: 500,
    $line-height: 19,
    $color: map-get($colors, venus));

  @media (min-width: 768px) {
    padding: 15px 0 38px;
    @include font($weight: 500,
      $size: 14,
      $line-height: 23,
      $color: map-get($colors, venus));
  }
}

.schedule__list {
  padding: 22px 0 19px;
  border-top: 1px solid rgba(map-get($colors, black), 0.078);
  border-bottom: 1px solid rgba(map-get($colors, black), 0.078);

  @media (min-width: 768px) {
    padding: 22px 0 19px;
  }

  @media (min-width: 1280px) {
    padding: 35px 0 34px;
  }
}

.location__time {
  padding-bottom: 16px;
  @include font($weight: 500,
    $line-height: 13,
    $color: map-get($colors, lite-pink));

  @media (min-width: 768px) {
    @include font($weight: 500,
      $size: 14, $color: map-get($colors, lite-pink));
    padding-bottom: 7px;
  }

  @media (min-width: 1280px) {
    @include font($weight: 500,
      $size: 16,
      $color: map-get($colors, lite-pink));
  }
}

.location__subtitle {
  text-transform: capitalize;
  @include font($weight: 500, $color: map-get($colors, black));

  @media (min-width: 768px) {
    @include font($weight: 500, $size: 14, $color: map-get($colors, black));
  }

  @media (min-width: 1280px) {
    @include font($weight: 500, $size: 17, $color: map-get($colors, black));
  }
}

.location__contacts {
  padding-top: 27px;

  @media (min-width: 768px) {
    padding-top: 30px;
  }
}

.location__phone-link,
.location__email-link {
  @include font($weight: 500,
    $size: 14,
    $line-height: 17,
    $color: map-get($colors, venus));
  @include transition;

  &:hover,
  &:focus {
    text-decoration: underline;
    @include transition;
  }

  @media (min-width: 768px) {
    @include font($weight: 500,
      $size: 14,
      $line-height: 24,
      $color: map-get($colors, venus));
  }

  @media (min-width: 1280px) {
    @include font($weight: 500,
      $size: 16,
      $line-height: 28,
      $color: map-get($colors, venus));
  }
}

.location-links__list {
  width: fit-content;
  @extend %auto;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

}

.location-links__link {
  padding: 0 24px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 25px;
  @include transition(background-color);


  &:after {
    content: '\f105';
    font-family: map-get($fonts, awesome);
    display: inline-block;
    padding-left: 17px;
    font-size: 14px;
  }

  @media (min-width: 768px) {
    padding: 0 40px;
  }

}

.location-links__item {
  @media (min-width: 768px) {
    &:first-child {
      margin-right: 15px;
    }
  }
}

.location-links__link--location {
  @include font($weight: 700,
    $line-height: 40);
  background-color: map-get($colors, crimson);

  &:hover {
    background-color: map-get($colors, cardinal);
  }

  @media (max-width: 767px) {
    margin-bottom: 13px;
  }

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 52px;
  }
}

.location-links__link--franchise {
  @include font($weight: 700,
    $line-height: 40,
    $color: map-get($colors, crimson));
  background-color: map-get($colors, white);

  &:hover {
    background-color: map-get($colors, whisper);
  }

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 52px;
  }
}
