.location {
  padding-bottom: 115px;
  background-image: url(../images/section-location.png);
  background-color: map-get($colors, lavender-blush);
  background-position: top 100px center;

  @media (device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../images/section-location@2x.png);
  }
}

.location__list {
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1510px;
}

.location__item {
  padding: 50px 38px;
  max-width: 254px;
  height: 490px;
  background-color: map-get($colors, white);
  border-radius: 25px;
  box-shadow: 0px 10px 40px 0px rgba(212, 20, 66, 0.15);
}

.location__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 27px;
  padding: 2px 16px;
  @include font($weight: 500, $line-height: 13);
  @extend %uppercase;
  border-radius: 5px;
}

.location__title--cafe {
  max-width: 62px;
  background-color: map-get($colors, peach-orange);
}

.location__title--foodtruck {
  max-width: 108px;
  background-color: map-get($colors, grin-mist);
}

.location__subtitle {
  margin: 0;
  @include font($weight: 500, $color: map-get($colors, black));
  text-transform: capitalize;
}

.location__text {
  @include font(
    $weight: 500,
    $line-height: 19,
    $color: map-get($colors, venus)
  );
  padding-top: 12px;
  margin-bottom: 32px;
}

.location__schedule-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding-top: 22px;
  padding-bottom: 19px;
  margin-bottom: 30px;
  border-top: 1px solid rgba(map-get($colors, black), 0.078);
  border-bottom: 1px solid rgba(map-get($colors, black), 0.078);
}

.location__time {
  padding-bottom: 16px;
  @include font(
    $weight: 500,
    $line-height: 13,
    $color: map-get($colors, lite-pink)
  );
}

.location__phone-link,
.location__email-link {
  @include font(
    $weight: 500,
    $line-height: 17,
    $color: map-get($colors, venus)
  );
  @include transition;
  &:hover {
    text-decoration: underline;
    @include transition;
  }
}

.location-links {
  display: block;
  width: 160px;
  @extend %auto;
}

.location-links__link {
  display: block;
  max-width: 160px;
  padding: 14px 24px;
  @include font(
    $weight: 700,
    $line-height: 13,
    $color: map-get($colors, crimson)
  );
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 25px;
  background-color: map-get($colors, white);

  &:hover {
    color: map-get($colors, white);
    background-color: map-get($colors, crimson);
  }

  &:after {
    content: '\f105';
    font-family: map-get($fonts, awesome);
    display: inline-block;
    padding-left: 17px;
    font-size: 14px;
  }
}

.location-links__link--location {
  margin-bottom: 12px;
}
