.location {
  background:url(../images/section-location.png) no-repeat center/cover, 
  linear-gradient(to bottom, map-get($colors,white), map-get($colors,lavender-blush) 25%);

  @media (device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background:url(../images/section-location@2x.png) no-repeat center/cover, 
  linear-gradient(to bottom, map-get($colors,white), map-get($colors,lavender-blush) 25%);
  }
  @media (min-width: 320px) {
    padding-bottom: 120px;
  }
  @media (min-width: 768px) {
    padding-bottom: 160px;
  }
}

.location__list {
  display: flex;

  @media (min-width: 320px) {
    margin-bottom: 54px;
    justify-content: space-between;
    flex-direction: column;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    height: 1510px;
  }

  @media (min-width: 768px) {
    margin-bottom: 77px;
    justify-content: center;
    flex-direction: row;
  }
  @media (min-width: 1280px) {
    margin-bottom: 86px;
  }
}

.location__item {
  background-color: map-get($colors, white);
  border-radius: 25px;
  box-shadow: 0px 10px 40px 0px rgba(212, 20, 66, 0.15);

  @media (min-width: 320px) {
    padding: 50px 34px;
    max-width: 254px;
    height: 490px;
  }

  @media (min-width: 768px) {
    padding: 46px 32px;
    max-width: 224px;
    height: 550px;
  }
  @media (min-width: 1280px) {
    padding: 55px 58px;
    max-width: 336px;
    height: 575px;
  }
}

.location__item:not(:last-child) {
  @media (min-width: 768px) {
    margin-right: 14px;
  }
  @media (min-width: 1280px) {
    margin-right: 14px;
  }
}

.location__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 27px;
  padding: 2px 16px;
  @extend %uppercase;
  border-radius: 5px;

  @media (min-width: 320px) {
    @include font($weight: 500, $line-height: 13);
  }

  @media (min-width: 768px) {
    @include font($weight: 500, $size: 17, $line-height: 17);
  }
}

.location__title--cafe {
  max-width: 62px;
  background-color: map-get($colors, peach-orange);
}

.location__title--foodtruck {
  max-width: 108px;
  background-color: map-get($colors, grin-mist);
}

.location__subtitle {
  margin: 0;

  text-transform: capitalize;

  @media (min-width: 320px) {
    @include font($weight: 500, $color: map-get($colors, black));
  }

  @media (min-width: 768px) {
    @include font($size: 14, $color: map-get($colors, black));
  }
}

.location__text {
  padding-top: 12px;
  margin-bottom: 32px;

  @media (min-width: 320px) {
    @include font(
      $weight: 500,
      $line-height: 19,
      $color: map-get($colors, venus)
    );
  }

  @media (min-width: 768px) {
    @include font(
      $weight: 500,
      $size: 14,
      $line-height: 19,
      $color: map-get($colors, venus)
    );
  }
}

.location__schedule-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding-top: 22px;
  padding-bottom: 19px;
  margin-bottom: 30px;
  border-top: 1px solid rgba(map-get($colors, black), 0.078);
  border-bottom: 1px solid rgba(map-get($colors, black), 0.078);
}

.location__time {
  padding-bottom: 16px;

  @media (min-width: 320px) {
    @include font(
      $weight: 500,
      $line-height: 13,
      $color: map-get($colors, lite-pink)
    );
  }

  @media (min-width: 780px) {
    @include font(
      $weight: 500,
      $size: 14,
      $line-height: 14,
      $color: map-get($colors, lite-pink)
    );
  }
}

.location__phone-link,
.location__email-link {
  @include font(
    $weight: 500,
    $size: 14,
    $line-height: 17,
    $color: map-get($colors, venus)
  );
  @include transition;
  &:hover,
  &:focus {
    text-decoration: underline;
    @include transition;
  }
}

.location-links {
  @media (min-width: 320px) {
    display: flex;
    justify-content: center;
    width: 320px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 1280px) {
    width: 1220px;
  }
}

.location-links__list {
  @media (min-width: 320px) {
    width: 254px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    width: 500px;
    display: flex;

    flex-direction: row;
  }
}

.location-links__item {
  @media (min-width: 320px) and (max-width: 768px) {
    width: 160px;
  }
}

.location-links__item--location {
  @media (min-width: 320px) and (max-width: 768px) {
    margin-bottom: 12px;
  }

  @media (min-width: 768px) {
    width: 198px;
    padding-right: 8px;
  }
}

.location-links__item--franchise {
  @media (min-width: 768px) {
    width: 177px;
  }
}

.location-links__link {
  padding: 14px 24px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 25px;
  background-color: map-get($colors, white);

  &:hover {
    color: map-get($colors, white);
    background-color: map-get($colors, crimson);
  }

  &:after {
    content: '\f105';
    font-family: map-get($fonts, awesome);
    display: inline-block;
    padding-left: 17px;
    font-size: 14px;
  }

  @media (min-width: 320px) {
    @include font(
      $weight: 700,
      $line-height: 13,
      $color: map-get($colors, crimson)
    );
  }

  @media (min-width: 768px) {
    @include font(
      $weight: 700,
      $size: 14,
      $line-height: 14,
      $color: map-get($colors, crimson)
    );
  }
}

.location-links__link--location {
}
