@mixin font(
  $weight: 400,
  $size: 13,
  $line-height: 28,
  $name: map-get($fonts, sans),
  $color: map-get($colors, white)
) {
  font: $weight $size + px/$line-height + px $name, map-get($fonts, default);
  color: $color;
}
@mixin transition($property: color) {
  transition: $property 200ms linear;
}
@mixin how-it-made-icons($name){
  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/icons/#{$name}.png) no-repeat left/contain;

    @media(min-resolution:192dpi),
    (min-resolution:2dppx) {
      background: url(../images/icons/#{$name}@2x.png) no-repeat left/contain;
    }

  }
}