$colors: (black:#000000,
  black-russian:#000107,
  petite-orchid:#cc9999,
  crimson:#d41442,
  grin-mist:#c1e297,
  very-light-drey:#cccccc,
  gainsboro:#e1e1e1,
  carnation-pink:#ff99cc,
  peach-orange:#efd1a5,
  cosmos:#ffcccc,
  lavender-blush:#fff5f7,
  white:#ffffff);
$fonts:(sans:'DM Sans',
  titan:'Titan One',
  default:sans-serif);
  