$colors: (black:#000000,
  black-russian:#000107,
  petite-orchid:#cc9999,
  crimson:#d41442,
  grin-mist:#cccc99,
  very-light-drey:#cccccc,
  gainsboro:#e1e1e1,
  carnation-pink:#ff99cc,
  lite-pink:#ffa5ba,
  pink:#ffb8c9,
  peach-orange:#ffcc99,
  cosmos:#ffcccc,
  lavender-blush:#fff5f7,
  dairy-cream:#efd1a5,
  reef:#c1e297,
  venus:#907e82,
  white:#ffffff);
$fonts:(sans:'DM Sans',
  titan:'Titan One',
  default:sans-serif,
  awesome:'FontAwesome');
